.nav {
    width: auto;
    height: 150px;
  }

  .leftNav {
      float: left;
  }

  .rightNav {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
  }
  
  .connectButtonContainer {
    display: inline-block;
    margin-right: 10px;
  }
  
  .buttonContainer {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 16px;
    display: inline-block;
  }
  
  .connectButton {
    background-color: rgba(0, 0, 0, 0.664) !important;
    border-radius: 16px !important;
    border: 1px solid #fff !important;
    color: rgb(240, 240, 240) !important;
    width: 100%;
    height: auto;
    font-size: 20px;
    padding: 5px;
    text-align: center;
  }

  .networkErr {
    background-color: rgb(253, 234, 241) !important;
    border-radius: 16px !important;
    border: 1px solid #fff !important;
    color: rgb(213, 0, 102) !important;
    width: 100%;
    height: auto;
    font-size: 20px;
    padding: 5px;
    text-align: center;
  }

  .connectButton:hover {
    border-color: rgb(0, 0, 0) !important;
  }

  .networkErr:hover {
    border-color: rgb(213, 0, 102) !important;
  }
  
  .btn {
    margin-right: 50px;
    cursor: pointer;
  }
  
  .pageButtonBold {
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
  }
  .web3_icon {
    cursor: pointer;
    width: 50px;
  }